<% @plant.comments.each do |comment| %>
  <div>
  	<%= comment.user.name %>
    <%= attachment_image_tag(comment, :comment_image, :fill, 150, 150) %>
    <%= comment.body %>
    <% if comment.user_id = current_user.id %>
      <%= link_to "削除", plant_comment_path(comment.plant, comment),method: :delete %>
    <% end %>
  </div>
<% end %>