<div class="container">
  <div class="row user-page">
  	<div class="col-12 title">
	  <h3>植物・品種名に<%= @content %>を含む投稿一覧</h1>
	  <div>
		<%= render "plants/post_plants", plants: @records %>
	  </div>
	</div>
  </div>
</div>
