<div>
  <% if @user != current_user %>
    <%= render "users/user_page",user: @user %>
  <% else %>
    <%= render "users/my_page", user: @user %>
  <% end %>
</div>
<div>
  <%= render "plants/post_plants", plants: @plants %>
</div>
<%= link_to "もっと見る", user_plants_path(@user) %>