<div class="unsubscribe text-center">
  <strong>本当に退会しますか？</strong>

    <div>
      退会すると投稿の削除や編集ができなくなります。<br>
      これまでの投稿は消えません<br>
      <br>
      退会する場合は,「退会する」をクリックしてください。
    </div>
    <br>

    <%= link_to "退会しない", :back %>
    <%= link_to "退会する", user_withdraw_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon btn btn-danger" %>

</div>