<div>
  <span>
	癒し・和み・安らぎ<br>
	新しい植物との出会いが<br>
	あなたにとって良い物でありますように
  </span>
</div>
<div>
  <h2>Plant diaryとは？</h2>
    <div>
    	<span>1</span>
    </div>
    <div>
    	<span>2</span>
    </div>
    <div>
    	<span>3</span>
    </div>
