<div class="row main">
  <div class="main-visual">
    <div><img class="top-image" src="assets/top-1.jpg"></div>
    <div><img class="top-image" src="assets/top-2.jpg"></div>
    <div><img class="top-image" src="assets/top-3.jpg"></div>
    <div><img class="top-image" src="assets/top-4.jpg"></div>
  </div>
  <span class="top-msg">
    <p>ー癒し・和み・安らぎ</p>
    新しい植物との出会いが<br>
    あなたにとって良い物でありますように<br>
  </span>
</div>
<div class="row about">
  <div class="col-md-12">
    <h2>About</h2>

    <div class="row about-item">
      <div class="col-md-5 about-image"></div>
      <div class="col-md-7 about-msg">
        <span class="about-title">Plant diaryとは？</span>
        <span>
          <br>
          <br>
          植物の観察日記をつけられるアプリです。<br>
          実際に育てたユーザーが難易度を設定することで、<br>
          初心者や中級者が次に育てる花を探す目標を可視化できるようにしました。<br>
        </span>
      </div>
    </div>

    <div class="row about-item">
      <div class="col-md-7 about-msg">
        <span class="about-title">困ったときは</span>
        <span>
          <br>
          <br>
          初心者は思いもしない失敗をするものです。<br>
          何か問題や疑問があれば周りの人に助けを求められるように<br>
          「Help!」カテゴリを用意しました。<br>
          きっと周りの人が、あなたがつけていた日記の内容をもとに<br>
          アドバイスをくれるはずです。
        </span>
      </div>
      <div class="col-md-5 about-image"></div>
    </div>

    <div class="row about-item">
      <div class="col-md-5 about-image"></div>
      <div class="col-md-7 about-msg">
        <span class="about-title">自信がある人は</span>
        <span>
          <br>
          <br>
          過去の自分に教えてあげたい一言を添えて、いつかの自分を助けてあげてください。<br>
          難しそうな植物に挑戦してみたり、知らない植物に出会うのもあなたの自由です。<br>
          新しい生活様式の中で、新しい趣味の発見につながれば幸いです。
        </span>
      </div>
    </div>
  </div>
</div>
