<% @users.each do |user| %>
  <div>
    <%= attachment_image_tag(@user, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
    <%= user.name %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー解除", user_follows_path(user),method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_follows_path(user),method: :post %>
    <% end %>
  </div>
<% end %>